@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@400;700&family=Rubik:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
}
:root{
    --primary : #93C5FD;
}
.header{
    text-align: center;
    font-size: 2rem;
    background-color: var(--primary);
    padding-top: 3rem;
    height: 5vh;
}
.main{
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}
#textarea{
    box-sizing: border-box;
    display: block;
    min-height: 20vh;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}
.btn-translate{
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    margin-left: 4rem;
    padding: 1rem 2rem;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: large;
}
.text{
    margin-left: 4rem;
}
#footer{
    background-color: var(--primary);
    text-align: center;
    bottom: 0;
    position: fixed;
    padding: 1rem;
    width: 100%;
}